#resetText{
  display: none;
}
.social-auth-links {
  margin: 10px 0;
}
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-facebook {
  color: #ffffff;
  background-color: #586f85;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:focus,
.btn-facebook.focus {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn-google {
  color: #ffffff;
  background-color: #58856f;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:focus,
.btn-google.focus {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:hover {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.map_Screen{
  padding:7px;
  background:#eaeaea;
  height:585px;
  border-right:1px solid #DDD;
  height:30px;
  line-height:30px
}
.map_Screen select{
  width:195px;
  float:left;
  width:18%;
  margin-right:5px
}
#use_map_overlay{
  z-index:999;background:#FFF;display:block;opacity:.9;position:absolute;height:575px;line-height:575px;text-align:center;width:944px
}
#use_map_overlay a{
  font-size:25px;font-weight:bold;color:#ff0505;display:block
}
.color_text1{
    color:#bccece !important;
}
.color_text2{
    color:#8aa9a9 !important;
}
.color_text3{
    color:#855858 !important;
}
.color_text4{
    color:#3d5d5d !important;
}
.color_text5{
    color:#233535 !important;
}
.color_text_acik{
  color: #efecd9 !important;
}
.color_bg-2{
    background-color:#eef2f2 !important;
}
.color_bg-1{
    background-color:#efebe9 !important;
}
.color_bg-2:hover{
    background-color:#8aa9a9 !important;
}
.color_bg-1:hover{
    background-color:#8aa9a9 !important;
}

.color_bg1{
    background-color:#bccece !important;
}
.color_bg2{
    background-color:#8aa9a9 !important;
}
.color_bg3{
    background-color:#855858 !important;
}
.color_bg4{
    background-color:#3d5d5d !important;
}
.color_bg5{
    background-color:#233535 !important;
}
.color_bgx{
  background-color: #588585 !important;
}
.color_bgy{
  background-color: #586f85 !important;
}
.color_bgz{
  background-color: #58856f !important;
}
.color_bg_acik{
  background-color: #efecd9 !important;
}
.border_1 {
    border: 1px solid #efecd9 !important;
}
