html {
    min-height: 100%;
}

body{
    /* background-image: linear-gradient(150deg, #b10007 0%, #ffd106 100%); background-repeat: repeat-x; */
    background-image: linear-gradient(150deg, #3a5757 0%, #7faaaa 100%); background-repeat: repeat-x;

}

*{
    font-family: "Poppins", sans-serif;


}

.container{
    min-height: 100%;
}

h2,h4{
    font-weight: 700;
    color: white;
}

a{
    display: :block;
    color:white;
    margin: :20px;
}
a:hover{

    color: #221b1f;
}
.menu{

    float:right;
    height:60px;
    text-align: center;
    vertical-align:middle;
    margin:10px;
}
.giris{



    margin-top:5px; ;
    text-align: end;
}
.giris a{

    color:white;
    font-size: :12px;
}

.uyeol a{

    color: white;
    font-weight:700;
    font-size:46px;
}
.row {

    max-width: 900px;

    margin: auto;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
}
.custom-control-label{color:white}
button[type="submit"]{

    font-weight:700;
}

.btn-facebook {

    margin-top: 5px;
    background-color:#3b5998;
}

.btn-google {

    margin-top: 5px;
    background-color:#dd4b39;
}
